{{ if .Site.Params.cta.enable }}
{{ "<!-- Call To Action Section Start -->" | safeHTML }}
<section id="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    {{ with .Site.Params.cta.title }}<h2 class="title wow fadeInDown" data-wow-delay=".3s" data-wow-duration="500ms">{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.cta.content }}<p class="wow fadeInDown" data-wow-delay=".5s" data-wow-duration="500ms">{{ . | safeHTML }}</p>{{ end }}
                    <a href="https://morn.netlify.com" target="_blank" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">{{ .Site.Params.cta.btnMText }}</a>
                    <a href="http://sydneyopenresearch.org/" target="_blank" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">{{ .Site.Params.cta.btnSText }}</a>
                    <a href="https://born.netlify.com" target="_blank" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">{{ .Site.Params.cta.btnPText }}</a>
                    <a href="https://born.netlify.com" target="_blank" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">{{ .Site.Params.cta.btnAText }}</a>
                    <a href="https://nzorn.netlify.com/" class="btn btn-default btn-contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration="500ms">{{ .Site.Params.cta.btnNZText }}</a>
                </div>
            </div>

        </div>
    </div>
</section>
{{ "<!-- Call To Action Section End -->" | safeHTML }}
{{ end }}