<head>
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
	  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
</head>

{{ if .Site.Params.twitterslack.enable }}
{{ "<!-- Twitter & Slack Section Start -->" | safeHTML }}
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInLeft" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.twitterslack.stitle }}<h2>{{ . }}</h2>{{ end }}
                    <!-- Begin Mailchimp Signup Form -->
                    <div id="mc_embed_signup">
                      <form action="https://netlify.us19.list-manage.com/subscribe/post?u=0930cc2eb4477a165d9740f0f&amp;id=561a83807b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                          <div class="indicates-required">
                            <span class="asterisk">*</span> indicates required
                          </div>
                          <div class="mc-field-group">
                  	        <label for="mce-FNAME">Please provide your First name </label>
                  	        <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                          </div>
                          <div class="mc-field-group">
                  	        <label for="mce-LNAME">...and now your Surname </label>
                  	        <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                          </div>
                          <div class="mc-field-group">
                  	        <label for="mce-EMAIL">Please provide your best contact email address                                <span class="asterisk">*</span>
                            </label>
                  	        <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                          </div>
                          <div class="mc-field-group input-group">
                            <strong>What region are you in? </strong>
                            <ul>
                              <li>
                                <input type="radio" value="Victoria" name="REGION" id="mce-REGION-0"><label for="mce-REGION-0">Victoria</label> 
                              </li>
                              <li>
                                <input type="radio" value="New South Wales" name="REGION" id="mce-REGION-1"><label for="mce-REGION-1">New South Wales</label>
                              </li>
                              <li>
                                <input type="radio" value="Queensland" name="REGION" id="mce-REGION-2"><label for="mce-REGION-2">Queensland</label>
                              </li>
                              <li>
                                <input type="radio" value="South Australia" name="REGION" id="mce-REGION-3"><label for="mce-REGION-3">South Australia</label>
                              </li>
                              <li>
                                <input type="radio" value="West Australia" name="REGION" id="mce-REGION-4"><label for="mce-REGION-4">West Australia</label>
                              </li>
                              <li>
                                <input type="radio" value="Northern Territory" name="REGION" id="mce-REGION-5"><label for="mce-REGION-5">Northern Territory</label>
                              </li>
                              <li>
                                <input type="radio" value="Canberra" name="REGION" id="mce-REGION-6"><label for="mce-REGION-6">Canberra</label>
                              </li>
                              <li>
                                <input type="radio" value="Tasmania" name="REGION" id="mce-REGION-7"><label for="mce-REGION-7">Tasmania</label>
                              </li>
                              <li>
                                <input type="radio" value="New Zealand" name="REGION" id="mce-REGION-8"><label for="mce-REGION-8">New Zealand</label>
                              </li>
                            </ul>
                          </div>
                  	      <div id="mce-responses" class="clear">
                  		      <div class="response" id="mce-error-response" style="display:none">
                  		      </div>
                  		      <div class="response" id="mce-success-response" style="display:none">
                  		      </div>
                  	      </div>    
                  	      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0930cc2eb4477a165d9740f0f_561a83807b" tabindex="-1" value=""></div>
                            <div class="clear">
                              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                          </div>
                        </form>
                    </div>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='REGION';ftypes[3]='radio';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                  <!--End mc_embed_signup-->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="block wow fadeInRight" data-wow-delay=".3s" data-wow-duration="500ms">
                    {{ with .Site.Params.twitterslack.ttitle }}<h2>{{ . }}</h2>{{ end }}
                    {{ with .Site.Params.twitterslack.tcontent }}<p>{{ . | safeHTML }}</p>{{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Twitter Section End -->" | safeHTML }}
{{ end }}