{{ partial "header.html" . }}
   
    <section class="moduler wrapper_404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1 class="wow">404</h1>
                        <h2 class="wow">Oops! You have some problems.</h2>
                        <p class="wow">The page you are looking for was moved, removed, renamed or might never existed.</p>
                        <a href="index.html" class="btn btn-dafault btn-home hvr-bounce-to-right">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{{ partial "cta.html" . }}

{{ partial "footer.html" . }}